<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Início" tabIcon="home"></ion-tab>
  <!--ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab-->
  <ion-tab [root]="tab3Root" tabTitle="Nips" tabIcon="list"></ion-tab>
</ion-tabs>
