<ion-header>
  <ion-navbar>
    <ion-title>
      Último nips
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-input [(ngModel)]="inputSearch" (ngModelChange)="searchNip($event)"></ion-input>
  <ion-card *ngFor="let nip of nips">

  <ion-card-content>
    Bairro: <b>{{nip.bairro}}</b> <br>
    Logradouro: <b>{{nip.logradouro}}</b><br>
    NIP: <b>{{nip.nip}}</b><br>
    Latitude: <b>{{nip.latitude}}</b><br>
    Longitude: <b>{{nip.longitude}}</b>
  </ion-card-content>

  <ion-list>
  <ion-item>
    Opções:
    <button ion-button outline item-end icon-left color="default" (click)="editar(nip)">
      <ion-icon name="edit"></ion-icon>
      Editar
    </button>
    <button ion-button outline item-end icon-left color="danger" (click)="deletar(nip)">
      <ion-icon name="trash"></ion-icon>
      Excluir
    </button>
  </ion-item>
</ion-list>

</ion-card>
</ion-content>
