<ion-header>
  <ion-navbar>
    <ion-title>
      SGIP App Offline
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-content>
      Informe os dados abaixo:
    </ion-card-content>
  </ion-card>
<ion-list inset>
  <ion-item>
    <ion-label>Bairro</ion-label>
    <ion-select [(ngModel)]="nip.bairro" name="bairro">
      <ion-option value="154">07 de Maio</ion-option>
      <ion-option value="144">15 de Maio</ion-option>
      <ion-option value="4">Agua Limpa</ion-option>
      <ion-option value="23">Água Vermelha</ion-option>
      <ion-option value="134">Alameda</ion-option>
      <ion-option value="177">ALTO DA BOA VISTA</ion-option>
      <ion-option value="77">Asa Bela</ion-option>
      <ion-option value="74">Asa Branca</ion-option>
      <ion-option value="143">Boa Vista</ion-option>
      <ion-option value="55">Bom Sucesso</ion-option>
      <ion-option value="86">Cabo Michel</ion-option>
      <ion-option value="6">Capão Grande</ion-option>
      <ion-option value="163">Capão do Pequi</ion-option>
      <ion-option value="97">Capela do Piçarrão</ion-option>
      <ion-option value="66">Carrapicho</ion-option>
      <ion-option value="1">Centro</ion-option>
      <ion-option value="16">Centro Cristo Rei</ion-option>
      <ion-option value="36">Cerrados</ion-option>
      <ion-option value="109">Chapéu do Sol </ion-option>
      <ion-option value="85">Cidade de Deus</ion-option>
      <ion-option value="13">Cohab Cristo Rei</ion-option>
      <ion-option value="124">Cohab Dom Bosco</ion-option>
      <ion-option value="139">Cohab Dom Orlando Chaves</ion-option>
      <ion-option value="91">Cohab Gonçalo Botelho</ion-option>
      <ion-option value="122">Cohab Jaime Campos</ion-option>
      <ion-option value="178">Cohab Nossa SÂª da Guia</ion-option>
      <ion-option value="75">Cohab Santa Clara</ion-option>
      <ion-option value="107">Cohab Santa Fé</ion-option>
      <ion-option value="185">COHAB SANTA FE</ion-option>
      <ion-option value="72">Cohab São Gonçalo</ion-option>
      <ion-option value="79">Colinas Verdejantes</ion-option>
      <ion-option value="51">Construmat</ion-option>
      <ion-option value="158">Eliane Gomes</ion-option>
      <ion-option value="17">Engordador</ion-option>
      <ion-option value="172">ESTRELA DALVA</ion-option>
      <ion-option value="12">Figueirinha</ion-option>
      <ion-option value="103">Formigueiro</ion-option>
      <ion-option value="169">Guarita</ion-option>
      <ion-option value="15">Helio Ponce de Arruda</ion-option>
      <ion-option value="59">Ipase</ion-option>
      <ion-option value="180">JARDIM AROEIRA</ion-option>
      <ion-option value="183">JARDIM MARIA IZABEL</ion-option>
      <ion-option value="155">Jardim Vitoria Regia</ion-option>
      <ion-option value="25">Jd. Aeroporto</ion-option>
      <ion-option value="167">Jd. Ala</ion-option>
      <ion-option value="129">Jd. Botânico</ion-option>
      <ion-option value="30">Jd. Costa Verde</ion-option>
      <ion-option value="140">Jd. das Flores</ion-option>
      <ion-option value="161">Jd. das Oliveiras</ion-option>
      <ion-option value="42">Jd. dos Estados</ion-option>
      <ion-option value="90">Jd. Eldorado</ion-option>
      <ion-option value="80">Jd. Esmeralda</ion-option>
      <ion-option value="2">Jd. Glória I</ion-option>
      <ion-option value="3">Jd. Glória II</ion-option>
      <ion-option value="164">Jd. Guanabara</ion-option>
      <ion-option value="110">Jd. Ikarai </ion-option>
      <ion-option value="7">Jd. Imperador</ion-option>
      <ion-option value="76">Jd. Imperial</ion-option>
      <ion-option value="147">Jd. Ipanema</ion-option>
      <ion-option value="54">Jd. Itororo</ion-option>
      <ion-option value="38">Jd. Maringá I</ion-option>
      <ion-option value="39">Jd. Maringá II</ion-option>
      <ion-option value="40">Jd. Maringá III</ion-option>
      <ion-option value="135">Jd. Novo Mato Grosso</ion-option>
      <ion-option value="130">Jd. Novo Mundo</ion-option>
      <ion-option value="34">Jd. Ouro Branco</ion-option>
      <ion-option value="27">Jd. Ouro Verde</ion-option>
      <ion-option value="128">Jd. Panorama</ion-option>
      <ion-option value="21">Jd. Paula I</ion-option>
      <ion-option value="8">Jd. Paula II</ion-option>
      <ion-option value="173">Jd. Paula III</ion-option>
      <ion-option value="138">Jd. Petrópolis</ion-option>
      <ion-option value="95">Jd. Potiguar</ion-option>
      <ion-option value="88">Jd. Primavera</ion-option>
      <ion-option value="160">Jd. São Francisco</ion-option>
      <ion-option value="37">Jd. União</ion-option>
      <ion-option value="41">Jd. Vila Rica</ion-option>
      <ion-option value="141">Jd. Vista Alegre</ion-option>
      <ion-option value="105">Jd. Vitória Régia</ion-option>
      <ion-option value="14">Lagoa do Jacaré</ion-option>
      <ion-option value="50">Limpo Grande</ion-option>
      <ion-option value="174">Loteamento Campo Verde</ion-option>
      <ion-option value="176">Loteamento Dom Diego</ion-option>
      <ion-option value="61">Loteamento Santa Maria </ion-option>
      <ion-option value="62">Loteamento Santa Maria  II</ion-option>
      <ion-option value="69">Loteamento São Jorge</ion-option>
      <ion-option value="179">LOTEAMENTO SAO SEBASTIAO</ion-option>
      <ion-option value="153">Manancial</ion-option>
      <ion-option value="26">Manga</ion-option>
      <ion-option value="82">Mangabeira</ion-option>
      <ion-option value="63">Mapim</ion-option>
      <ion-option value="52">Marajoara I</ion-option>
      <ion-option value="53">Marajoara II</ion-option>
      <ion-option value="81">Monte Castelo</ion-option>
      <ion-option value="162">Nair Sacre</ion-option>
      <ion-option value="165">Niteroi</ion-option>
      <ion-option value="35">Nossa Sra da Guia</ion-option>
      <ion-option value="168">Nova Alianca</ion-option>
      <ion-option value="184">NOVA CANAA</ion-option>
      <ion-option value="32">Nova Esperança</ion-option>
      <ion-option value="93">Nova Fronteira</ion-option>
      <ion-option value="9">Nova Varzea Grande</ion-option>
      <ion-option value="71">Novo Horizonte</ion-option>
      <ion-option value="70">Oito de Março</ion-option>
      <ion-option value="56">Pai André</ion-option>
      <ion-option value="87">Paiaguas</ion-option>
      <ion-option value="64">Parque Atlantico</ion-option>
      <ion-option value="145">Parque das Nações</ion-option>
      <ion-option value="137">Parque Del Rey</ion-option>
      <ion-option value="60">Parque do Lago</ion-option>
      <ion-option value="136">Parque Nova Era</ion-option>
      <ion-option value="112">Parque Sabiá </ion-option>
      <ion-option value="175">Parque São Joao</ion-option>
      <ion-option value="43">Parque Tamoios</ion-option>
      <ion-option value="24">Passagem da Conceição</ion-option>
      <ion-option value="100">Pirineu</ion-option>
      <ion-option value="182">PLANALTO BEIRA RIO</ion-option>
      <ion-option value="68">Planalto Ipiranga</ion-option>
      <ion-option value="18">Ponte Nova</ion-option>
      <ion-option value="149">Ponte Nova</ion-option>
      <ion-option value="111">Praia Grande</ion-option>
      <ion-option value="108">Princesa do Sol</ion-option>
      <ion-option value="170">Res. Dom Pedro II</ion-option>
      <ion-option value="78">Res. José Carlos Guimarães</ion-option>
      <ion-option value="114">Residen. Alice G. de Campos</ion-option>
      <ion-option value="113">Residen. Renato J. dos Santos</ion-option>
      <ion-option value="131">Residencial 08 de Março</ion-option>
      <ion-option value="99">Residencial Alberto Canelas</ion-option>
      <ion-option value="115">Residencial Ataíde F. da Silva</ion-option>
      <ion-option value="31">Residencial Athaide Monteiro</ion-option>
      <ion-option value="117">Residencial Aurília S. Curvo</ion-option>
      <ion-option value="116">Residencial Celestino H. P.</ion-option>
      <ion-option value="119">Residencial Flor do Ipê</ion-option>
      <ion-option value="98">Residencial Gilson de Barros</ion-option>
      <ion-option value="156">Residencial Jacarandá</ion-option>
      <ion-option value="58">Residencial João Baracat</ion-option>
      <ion-option value="120">Residencial Joaquim Curvo</ion-option>
      <ion-option value="101">Residencial Júlio Domingos</ion-option>
      <ion-option value="19">Residencial Milton Figueiredo</ion-option>
      <ion-option value="118">Residencial Noise Curvo</ion-option>
      <ion-option value="152">Residencial Novo Mundo</ion-option>
      <ion-option value="181">Residencial Paulo Leite</ion-option>
      <ion-option value="133">Residencial Princesa do Sol</ion-option>
      <ion-option value="46">Residencial Santa Clara</ion-option>
      <ion-option value="102">Sadia III</ion-option>
      <ion-option value="73">Santa  Izabel</ion-option>
      <ion-option value="132">Santa Luzia</ion-option>
      <ion-option value="104">Santa Maria I</ion-option>
      <ion-option value="148">Santa Maria II</ion-option>
      <ion-option value="166">Santa Terezinha</ion-option>
      <ion-option value="5">São Mateus</ion-option>
      <ion-option value="84">São Simão</ion-option>
      <ion-option value="171">São Marcos</ion-option>
      <ion-option value="33">Seminário</ion-option>
      <ion-option value="67">Serra Dourada</ion-option>
      <ion-option value="45">Solaris do Tarumã</ion-option>
      <ion-option value="106">Souza Lima</ion-option>
      <ion-option value="142">Terra Nova</ion-option>
      <ion-option value="159">Treze de Setembro</ion-option>
      <ion-option value="146">Unipark</ion-option>
      <ion-option value="20">Vila Arthur</ion-option>
      <ion-option value="151">Vila Operária</ion-option>
      <ion-option value="157">Vila Sadia</ion-option>
      <ion-option value="123">Vila Vitória I</ion-option>
      <ion-option value="121">Vila Vitória II</ion-option>
      <ion-option value="150">Vinte e Quatro  de Dezembro </ion-option>
      <ion-option value="65">Vinte e Tres de Setembro</ion-option>
    </ion-select>
  </ion-item>
</ion-list>

<ion-list inset>
  <ion-item>
    <ion-label>Lougradouro</ion-label>
    <ion-input type="text" [(ngModel)]="nip.logradouro" name="logradouro"></ion-input>
  </ion-item>
</ion-list>

<ion-list inset>
  <ion-item>
    <ion-label>NIP</ion-label>
    <ion-input type="number" [(ngModel)]="nip.nip" name="nip"></ion-input>
  </ion-item>
</ion-list>

<ion-list inset>
  <ion-item>
    <button ion-button icon-only (click)="uploadImagem()">
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
  </ion-item>
  <ion-item *ngIf="nip.foto != ''">
    <img width="80" height="80" [src]="nip.foto"/>
  </ion-item>
</ion-list>


<ion-item>
    <button ion-button (click)="salvarNip()">Salvar</button>
</ion-item>



  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        Nome
      </ion-col>
      <ion-col>
        Idade
      </ion-col>
      <ion-col>
        Editar
      </ion-col>
      <ion-col>
        Deletar
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let user of usuarios">
      <ion-col>
        {{user.nome}}
      </ion-col>
      <ion-col>
        {{user.idade}}
      </ion-col>
      <!--ion-col>
        <button ion-button round (click)="editar(user)">Editar</button>
      </ion-col->
      <ion-col>
        <button ion-button round (click)="deletar(user)">Deletar</button>
      </ion-col>
    </ion-row>
  </ion-grid> -->

</ion-content>
